/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #e5f4fb;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*container*/
.container {
  padding: 0 10px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    margin: 0;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end container*/
/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  background-color: transparent;
  z-index: 100;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}
.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
header nav ul {
  padding: 0 5px;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:not(:last-child) {
  margin-right: 35px;
}
header nav ul li a {
  color: #66757c;
  transition: 0.3s;
  position: relative;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #9c68b7;
  bottom: -2px;
  left: 0;
  transition: 0.3s;
}
header nav ul li a:hover::before,
header nav ul li .active::before {
  width: calc(100% - 10px);
}
nav div a {
  background-color: #fff;
  color: #66757c;
  padding: 3px 30px;
  border-radius: 20px;
  transition: 0.3s;
}
nav div a:hover {
  outline: 3px solid white;
  outline-offset: 5px;
}
@media (max-width: 790px) {
  header {
    padding: 0;
  }
  header .container {
    width: 100%;
    margin: 0;
  }
  header .container nav {
    width: 100%;
    padding: 0;
    padding-left: 10px;
  }
}
@media (max-width: 680px) {
  header .container {
    flex-direction: column;
  }
}
@media (max-width: 545px) {
  header .container nav {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    flex: 1;
  }
}
@media (max-width: 500px) {
  header .container nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  header .container nav ul li {
    font-size: 15px;
    display: block;
    margin: 0;
    padding: 0;
  }
  header .container nav div a {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  header .container nav ul {
    display: block;
  }
  header .container nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 15px;
    padding: 0;
  }
  header .container nav div {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
/* end header *
/* start main/ */
.main {
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/blue_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #ffffff;
}
.main .container {
  position: relative;
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.main .container .text {
  padding-left: 30px;
}
.main .container .text h1 {
  font-size: 46px;
  color: #66757c;
  margin-bottom: 10px;
}
.main .container .text h1 span {
  color: #7d4493;
}
.main .container .text p {
  font-size: 23px;
  color: #919ba2;
  line-height: 1.6;
}
.main .container .image .landing {
  position: absolute;
  top: 50px;
  right: -160px;
  max-width: 750px;
}
.main .container .image .mask {
  position: absolute;
  top: 115px;
  right: 90px;
  z-index: 5;
  width: 300px;
}
.main .container .image .clouds {
  position: absolute;
  top: 500px;
  z-index: 10;
  right: 60px;
  width: 390px;
}
.main .container .image .waves {
  position: absolute;
  top: 600px;
  right: 190px;
  width: 120%;
  height: 200px;
}
@media (max-width: 1200px) {
  .main .container .image .landing {
    width: 500px;
    right: -90px;
    top: 150px;
  }
  .main .container .image .mask {
    width: 200px;
    right: 100px;
    top: 180px;
  }
  .main .container .image .clouds {
    width: 300px;
    right: 50px;
    top: 440px;
  }
  .main .container .image .waves {
    top: 500px;
  }
  .main .container .text h1 {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  header .container nav {
    flex: 1;
    padding-right: 20px;
  }
  header .container {
    width: 100%;
  }
  .main .container {
    width: 100%;
  }
  .main .container .text h1 {
    font-size: 30px;
    margin-top: 50px;
  }
  .main .container .text p {
    font-size: 20px;
  }
}
@media (max-width: 874px) {
  .main .container .text h1 {
    font-size: 25px;
    /* margin-top: 140px; */
    /* background-color: #7d4493; */
  }
  .main .container .text p {
    font-size: 15px;
  }
  .main .container .image .landing {
    width: 450px;
    right: -50px;
    top: 100px;
  }
  .main .container .image .mask {
    width: 190px;
    right: 100px;
    top: 140px;
  }
  .main .container .image .clouds {
    width: 250px;
    right: 70px;
    top: 380px;
  }
  .main .container .image .waves {
    top: 430px;
  }
}
@media (max-width: 750px) {
  .main .container {
    align-items: center;
    justify-content: center;
  }
  .main .container .text {
    margin-top: 150px;
    text-align: center;
  }

  .main .container .image .landing {
    width: 400px;
    right: -50px;
    top: 50px;
  }
  .main .container .image .mask {
    width: 150px;
    right: 100px;
    top: 90px;
  }
  .main .container .image .clouds {
    width: 250px;
    right: 50px;
    top: 280px;
  }
  .main .container .image .waves {
    top: 230px;
  }
}
@media (max-width: 700px) {
  .main .container .text {
    margin-top: 230px;
  }
  .main .container .image .landing {
    top: 100px;
  }
  .main .container .image .mask {
    top: 140px;
  }
  .main .container .image .clouds {
    top: 330px;
  }
  .main .container .image .waves {
    top: 230px;
  }
}
@media (max-width: 450px) {
  .main .container .text {
    margin-top: 390px;
    padding: 0 20px;
    text-align: center;
  }
  .main .container .image .landing {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
  }
  .main .container .image .mask {
    top: 210px;
    left: 48%;
    width: 110px;
    transform: translateX(-48%);
    -webkit-transform: translateX(-48%);
    -moz-transform: translateX(-48%);
    -ms-transform: translateX(-48%);
    -o-transform: translateX(-48%);
  }
  .main .container .image .clouds {
    top: 350px;
  }
  .main .container .image .waves {
    top: 230px;
  }
}
/* end main */
/* start service */
.Service {
  padding-top: 80px;
  height: 100vh;
  background-color: #fff;
}
.Service .container {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../imgs/second_section_.png);
  background-size: 900px;
  background-position: top center;
}
.Service .container .info {
  max-width: 400px;
  text-align: center;
  position: absolute;
}
.Service .one {
  top: 50px;
  left: 0;
}
.Service .tow {
  left: 29.5%;
  top: 28%;
}
.Service .three {
  right: 80px;
  top: 64%;
}
.Service .info img {
  width: 200px;
}
.Service .info:first-child img {
  background-color: #ffffff;
}
.Service .info h3 {
  color: #66757c;
  margin: 10px 0;
}
.Service .info p {
  font-size: 18px;
  color: #919ba2;
  line-height: 1.5;
}
.Service .mark {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 350px;
  height: 330px;
  background-image: url(../imgs/why_kudzoka_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  padding: 100px 0 0 70px;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}
.Service .mark p {
  color: #fff;
  width: 50%;
  margin-bottom: 5px;
}
.Service .mark h3 {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
}
@media (max-width: 1200px) {
  .Service {
    padding: 20px;
  }
  .Service .container {
    background-size: 800px 490px;
  }
  .Service .one {
    top: 60px;
    left: 0;
  }
  .Service .tow {
    left: 31%;
    top: 28%;
  }
  .Service .three {
    right: 30px;
    bottom: 0px;
    width: fit-content;
  }
  .Service .mark {
    bottom: -100px;
    width: 320px;
  }
}
@media (max-width: 1010px) {
  .Service .container {
    width: 100%;
    padding: 0 15px;
  }
  .Service .container {
    background-size: 800px 550;
  }
  .Service .tow {
    left: 31%;
    top: 35%;
  }

  .Service .three {
    right: 0px;
    top: 70%;
  }
}
@media (max-width: 900px) {
  .Service .container {
    background-size: 600px 560px;
  }
  .Service .info {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .Service .one {
    top: 60px;
    left: 0;
  }
  .Service .tow {
    left: 29.5%;
    top: 35%;
  }
  .Service .three {
    right: 40px;
    top: 65%;
  }
  .Service .mark {
    bottom: -300px;
    width: 290px;
  }
  .Service .mark h3 {
    font-size: 30px;
  }
}
@media (max-width: 890px) {
  .Service .container {
    background-size: 600px 760px;
  }
  .Service .info {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .Service .one {
    top: 50px;
    left: 0;
  }
  .Service .tow {
    left: 29.5%;
    top: 47%;
  }
  .Service .three {
    right: 40px;
    top: 90%;
  }
}
@media (max-width: 760px) {
  .Service {
    padding: 0;
    margin: 0;
  }
  .Service .container {
    width: 100%;
    background-size: 500px 860px;
  }
  .Service .info {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .Service .info p {
    font-size: 15px;
  }
  .Service .info h3 {
    font-size: 18px;
  }
  .Service .one {
    top: 90px;
    left: 0;
  }
  .Service .tow {
    left: 29.5%;
    top: 50%;
  }
  .Service .three {
    right: 40px;
    top: 90%;
  }
  .Service .mark {
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media (max-width: 700px) {
  .Service {
    padding: 100px 0;
    margin: 0;
  }
  .Service .container {
    width: 100%;
    background-size: 350px 800px;
  }
  .Service .info {
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .Service .info img {
    width: 150px;
  }
  .Service .one {
    top: 90px;
    left: 0;
  }
  .Service .tow {
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
  }
  .Service .three {
    right: 50px;
    bottom: 0;
    top: 125%;
  }
  .Service .mark {
    width: 240px;
    top: -180px;
    left: 50%;
    padding-top: 80px;
    transform: translateX(-50%);
  }
  .Service .mark p {
    font-size: 15px;
  }
  .Service .mark h3 {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .Service {
    margin-bottom: 80px;
    background-color: #ffffff;
  }
  .Service .container {
    background-image: none;
    width: 100%;
  }
  .Service .info {
    position: static;
    margin-bottom: 200px;
    width: 100%;
  }
  .Service .info.three {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .Service .mark {
    width: 200px;
    top: -100px;
  }
  .Service .mark p {
    font-size: 15px;
  }
  .Service .mark h3 {
    font-size: 20px;
  }
}
/* end service */
/* start about */
.about {
  height: 80vh;
  padding: 200px 0;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container div:first-child img,
.about .container div:nth-child(3) img {
  width: 200px;
}
.about .container div:nth-child(2) {
  position: relative;
  text-align: center;
  margin: 0 30px;
}
.about .container div:nth-child(2) img {
  width: 430px;
}
.about .container div:nth-child(2) h3 {
  color: #5d6a70;
  margin-bottom: 20px;
}
.about .container div:nth-child(2) p {
  color: #919ba2;
  line-height: 1.6;
}
.about .container div:nth-child(2) .arrow {
  display: flex;
  justify-content: space-between;
  color: #66757c;
  position: absolute;
  width: 100%;
  top: 300px;
  left: -25px;
  cursor: pointer;
}
@media (max-width: 1005px) {
  .about .container {
    padding-top: 80px;
    padding-bottom: 100px;
    margin: 0;
    width: 100%;
  }
  .about .container div:first-child img,
  .about .container div:nth-child(3) img {
    width: 160px;
  }
  .about .container div:nth-child(2) {
    position: relative;
    text-align: center;
    margin: 0 30px;
  }
  .about .container div:nth-child(2) img {
    width: 380px;
  }
}
@media (max-width: 830px) {
  .about .container {
    padding: 320px 0 0;
    width: 100%;
  }
  .about .container div:first-child img,
  .about .container div:nth-child(3) img {
    width: 130px;
  }
  .about .container div:nth-child(2) {
    position: relative;
    text-align: center;
    margin: 0 30px;
    top: -80px;
  }

  .about .container div:nth-child(2) img {
    width: 320px;
  }
  .about .container div:nth-child(3) {
    margin-top: -30px;
  }
}
@media (max-width: 700px) {
  .about .container {
    padding-top: 150px;
    margin: 0;
    width: 100%;
    flex-direction: column;
  }
  .about .container div:not(:last-child) {
    display: block;
    margin-bottom: 100px;
  }
  .about .container div:first-child img,
  .about .container div:nth-child(3) img {
    width: 130px;
  }
  .about .container div:nth-child(2) {
    position: relative;
    text-align: center;
    margin: 0 30px;
  }
  .about .container div:nth-child(2) img {
    width: 320px;
  }
}
/* end about */
/*  start footer*/
footer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 590px;
  background-image: url(../imgs/Group\ 1131.png);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center top;
}
footer .btn {
  position: absolute;
  bottom: 20%;
  display: flex;
  gap: 20px;
  width: fit-content;
}
footer .btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e9ecef;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .btn a div p:first-child {
  font-size: 10px;
}
footer .btn a div p:last-child {
  font-size: 13px;
}
footer .social {
  position: absolute;
  bottom: 11%;
}
footer .social a img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  object-fit: contain;
}
footer ul {
  position: absolute;
  bottom: 5%;
  display: flex;
  gap: 30px;
  font-size: 15px;
  flex-wrap: wrap;
}
footer ul li a {
  color: #fff;
}
footer .container > img {
  width: 680px;
  position: absolute;
  bottom: 0;
  right: 7%;
}
/* @media (max-width:1300px){
  footer {
    height: 500px;
    background-position: center top;
  }
  footer .container >img{
   width: 550px;
  }
} */
@media (max-width: 1300px) {
  footer {
    height: 450px;
    background-position: center top;
    margin-top: 200px;
  }
  footer .container > img {
    width: 500px;
  }
}

@media (max-width: 980px) {
  footer {
    height: 400px;
    background-position: center top;
  }
  footer .container > img {
    width: 400px;
  }
}
@media (max-width: 870px) {
  footer {
    height: 340px;
    background-position: center top;
    padding-top: 300px;
  }
  footer .container > img {
    width: 400px;
  }
  footer .btn {
    bottom: 25%;
  }
  footer .social {
    bottom: 14%;
  }
  footer ul {
    bottom: 5%;
  }
}
@media (max-width: 750px) {
  footer {
    height: 300px;
    margin-top: 360px;
    background-position: center top;
  }
  footer .container > img {
    width: 300px;
  }
  footer .btn {
    bottom: 25%;
    display: block;
  }
  footer .btn a {
    margin-bottom: 5px;
  }
  footer .social {
    bottom: 14%;
  }
  footer ul {
    bottom: 0%;
    left: 23%;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  footer ul li {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  footer {
    height: 180px;
    /* height: 200px; */
    background-size: 180%;
    margin-top: 500px;
  }
  footer .container > img {
    width: 200px;
    left: 60%;
  }
  footer .btn a img {
    width: 20px;
  }
  footer .social {
    bottom: 10%;
  }
  footer .social img {
    width: 5px;
    height: 5px;
  }
  footer ul li a {
    font-size: 10px;
  }
  footer ul {
    bottom: 3%;
    direction: flex;
    position: absolute;
    width: 300px;
    gap: 30px;
    left: 10%;
    z-index: 55;
  }
  footer ul li {
    margin: 0;
  }
}
@media (max-width: 450px) {
  footer {
    height: 120px;
    background-size: 270%;
    margin-top: 500px;
  }
  footer .container > img {
    left: 55%;
  }
  footer .btn a img {
    width: 10px;
  }
  footer .btn {
    bottom: 37%;
  }
  footer .btn a p,
  footer .btn a h3 {
    font-size: 8px;
  }
  footer .social {
    bottom: 15%;
  }
  footer .social img {
    width: 5px;
    height: 5px;
  }
  footer ul li a {
    font-size: 10px;
  }
  footer ul {
    bottom: 6%;
    direction: flex;
    position: absolute;
    width: 300px;
    gap: 30px;
    left: 0%;
    z-index: 55;
  }
  footer ul li {
    margin: 0;
  }
}
